<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <style type="text/css">
      .container {
        margin-top: 200px;
      }
      .hcenter {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p class="hcenter">Page not found</p>
      <p class="hcenter">404</p>
    </div>
  </body>
</html>