<%- include('segment/header') %>

<div class="ui cards container">
    <div class="card">
        <div class="content">
            <img class="right circular floated mini ui image" src="/images/myavatar.bmp">
            <div class="header">tujiaw</div>
            <div class="meta">
                <i class="mail icon">&nbsp;&nbsp;tujiaw@163.com</i>
            </div>
            <div class="description">记录工作、学习、生活中的一些信息，生命不息折腾不止！</div>
        </div>
    </div>
</div>

<%- include('segment/footer') %>
