<%- include('segment/header') %>

<div class="ui grid">
    <div class="row">
        <div class="four wide column right aligned">
            <h2>2017</h2>
        </div>
        <div class="eight wide column">
            <div class="ui list">
                <div class="item">
                    2017/01/01 <a class="item no-hover-bottom" href="">111111111</a>
                </div>
                <div class="item">
                    2017/01/01 <a class="item no-hover-bottom" href="">111111111</a>
                </div>
                <div class="item">
                    2017/01/01 <a class="item no-hover-bottom" href="">111111111</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="four wide column right aligned">
            <h2>2017</h2>
        </div>
        <div class="eight wide column">
            <div class="ui list">
                <div class="item">
                    2017/01/01 <a class="item no-hover-bottom" href="">111111111</a>
                </div>
                <div class="item">
                    2017/01/01 <a class="item no-hover-bottom" href="">111111111</a>
                </div>
                <div class="item">
                    2017/01/01 <a class="item no-hover-bottom" href="">111111111</a>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include('segment/footer') %>
