<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style type="text/css">
        .container {
            margin-top: 200px;
        }
        .hcenter {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <p class="hcenter">哎呀，发生了一个错误！</p>
    <p class="hcenter"><%= message %></p>
</div>
</body>
</html>