body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#main {
  margin: 0 auto;
  padding: 0px;
}

#mainTitle {
  height: 30px;
  padding-top: 5px;
  margin-bottom: 0px;
}

#clearBoth {
  clear: both;
}

.typePanel {
  background: #eeeeee;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 527px;
}

.typeItem {
  margin-top: 8px;
  width: 80px;
}

#articleHeader {
  background:#f7f7f7;
}

.articleList {
  height: 510px;
  overflow-y: scroll;
  background:#f7f7f7;
}

.articleItem {
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.articleItem:hover {
  background:rgb(181, 181, 181);
}

.articleItem>img {
  width: 50px;
  height: 50px;
  float: left;
  margin-top: 5px;
}

.articleItem>#content {
  padding-left: 15px;
  overflow: hidden;
  white-space: nowrap;
}

.articleItem #userName {
  font-weight: bold;
  margin-top: 10px;
}

.pageButton {
  padding-right: 15px;
  float: right;
}

a.disabled {
  pointer-events: none;
}