
    <script type="text/javascript">
      $('.ui.dropdown').dropdown();
      $('.post-content .avatar').popup({
        inline: true,
        position: 'bottom right',
        lastResort: 'bottom right',
      });

    </script>
  </body>
</html>