
    <script type="text/javascript">
      $('.ui.dropdown').dropdown();
      $('.launch.item').click(function() {
        $('.left.sidebar').sidebar('toggle');
      });
      $('.post-content .avatar').popup({
        inline: true,
        position: 'bottom right',
        lastResort: 'bottom right',
      });
    </script>
  </body>
</html>