<!--
    <div class="ui black inverted vertical footer segment">
      <div class="ui center aligned container">
        <div class="ui horizontal inverted small divided link list">
          <a class="item no-border-bottom" href="http://semantic-ui.mit-license.org/" target="_blank">Free &amp; Open Source (MIT)</a>
        </div>
      </div>
    </div>
-->
    <script type="text/javascript">
      $('.ui.dropdown').dropdown();
      $('.launch.item').click(function() {
        $('.left.sidebar').sidebar('toggle');
      });
      $('.post-content .avatar').popup({
        inline: true,
        position: 'bottom right',
        lastResort: 'bottom right',
      });
    </script>
  </body>
</html>