<div class="ui fixed inverted main menu">
  <div class="ui container">
    <div class="left menu">
      <a class="launch icon item no-hover-bottom">
        <i class="content icon"></i>
      </a>
      <!--<a class="home icon item no-hover-bottom" href="/posts">-->
        <!--<i class="home icon"></i>-->
      <!--</a>-->
      <a class="item no-hover-bottom" href="/">泊客小站</a>
    </div>
    <div class="right menu">
      <div class="ui search">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="搜索文章">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>

      <a class="item no-hover-bottom" href="/archives">归档</a>
      <a class="item no-hover-bottom" href="/about">关于</a>
      <!--<div class="vertically fitted  item">-->
      <!--<iframe class="github" src="http://ghbtns.com/github-btn.html?user=tujiaw&amp;repo=nodeblog&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>-->
      <!--</div>-->
    </div>
  </div>
</div>

<div class="ui left thin vertical inverted  sidebar menu">
  <div class="item">
    <a class=" no-hover-bottom" href="/">泊客网</a>
  </div>
  <div class="item">
    <div class="header">权限</div>
    <div class="menu">
      <% if (user) { %>
        <a class="item no-hover-bottom" href="/posts?author=<%= user._id %>">个人主页</a>
        <a class="item no-hover-bottom" href="/posts/create">发表文章</a>
        <a class="item no-hover-bottom" href="/signout">登出</a>
      <% } else { %>
        <a class="item no-hover-bottom" href="/signin">登录</a>
        <a class="item no-hover-bottom" href="/signup">注册</a>
      <% } %>
    </div>
  </div>
  <div class="item">
    <div class="header">链接</div>
    <div class="menu">
      <a class="item no-hover-bottom" href="/wchathot.html">微信文章精选</a>
      <a class="item no-hover-bottom" href="http://blog.csdn.net/tujiaw">CSDN Blog</a>
      <a class="item no-hover-bottom" href="https://github.com/tujiaw">GitHub</a>
    </div>
  </div>
  <div class="item">
    <div class="header">工具</div>
    <div class="menu">
      <a class="item no-hover-bottom" href="http://123.57.244.170:3100/base64">base64编解码</a>
    </div>
  </div>
</div>
<script src="/javascripts/sidebar.js"></script>